body.a1 {
    background-color: black;
}
body.a2 {
    background-color: black;
}
body.a3 {
    background-color: black;
}
header.a1 {
    text-align: center;
    color: white;
}
header.a2 {
    text-align: center;
    color: red;
}
header.a3 {
    text-align: center;
    color: red;
}
main.a1 {
    text-align: center;
    
}
a.animación {
    positio
}